@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-50: #f5fde8;
  --text-100: #ecfbd0;
  --text-200: #d9f6a2;
  --text-300: #c6f273;
  --text-400: #b2ee44;
  --text-500: #9fe916;
  --text-600: #7fbb11;
  --text-700: #608c0d;
  --text-800: #405d09;
  --text-900: #202f04;
  --text-950: #101702;

  --background-50: #f6fee7;
  --background-100: #edfccf;
  --background-200: #dbfa9e;
  --background-300: #c9f76e;
  --background-400: #b8f53d;
  --background-500: #a6f20d;
  --background-600: #85c20a;
  --background-700: #639108;
  --background-800: #426105;
  --background-900: #213003;
  --background-950: #111801;

  --primary-50: #f7fde7;
  --primary-100: #f0fbd0;
  --primary-200: #e0f7a1;
  --primary-300: #d1f471;
  --primary-400: #c1f042;
  --primary-500: #b2ec13;
  --primary-600: #8ebd0f;
  --primary-700: #6b8e0b;
  --primary-800: #475e08;
  --primary-900: #242f04;
  --primary-950: #121802;

  --secondary-50: #ede7fd;
  --secondary-100: #dbd0fb;
  --secondary-200: #b6a1f7;
  --secondary-300: #9271f4;
  --secondary-400: #6e42f0;
  --secondary-500: #4913ec;
  --secondary-600: #3b0fbd;
  --secondary-700: #2c0b8e;
  --secondary-800: #1d085e;
  --secondary-900: #0f042f;
  --secondary-950: #070218;

  --accent-50: #fde7f8;
  --accent-100: #fbd0f0;
  --accent-200: #f7a1e2;
  --accent-300: #f471d3;
  --accent-400: #f042c4;
  --accent-500: #ec13b6;
  --accent-600: #bd0f91;
  --accent-700: #8e0b6d;
  --accent-800: #5e0849;
  --accent-900: #2f0424;
  --accent-950: #180212;
}
.dark {
  --text-50: #161a13;
  --text-100: #1e2618;
  --text-200: #2b3a23;
  --text-300: #394f2f;
  --text-400: #486339;
  --text-500: #577844;
  --text-600: #6e9c54;
  --text-700: #89b965;
  --text-800: #a7d477;
  --text-900: #c6ed8a;
  --text-950: #e4fa9d;

  --background-50: #121510;
  --background-100: #1a1e14;
  --background-200: #2d2f1d;
  --background-300: #404029;
  --background-400: #535134;
  --background-500: #66633f;
  --background-600: #868456;
  --background-700: #a5a66d;
  --background-800: #c5c785;
  --background-900: #e4e89d;
  --background-950: #f3f5b5;

  --primary-50: #151812;
  --primary-100: #1e2116;
  --primary-200: #2d311d;
  --primary-300: #3d4124;
  --primary-400: #4c512a;
  --primary-500: #5c6131;
  --primary-600: #78814a;
  --primary-700: #95a163;
  --primary-800: #b3c17c;
  --primary-900: #d1e295;
  --primary-950: #e3f3aa;

  --secondary-50: #121014;
  --secondary-100: #1a1920;
  --secondary-200: #2a2835;
  --secondary-300: #3a3750;
  --secondary-400: #4b456b;
  --secondary-500: #5b5486;
  --secondary-600: #7b75a7;
  --secondary-700: #9c97c9;
  --secondary-800: #bdbaeb;
  --secondary-900: #dfdcfd;
  --secondary-950: #efefff;

  --accent-50: #1c0f1b;
  --accent-100: #2c1428;
  --accent-200: #432139;
  --accent-300: #5b2d4b;
  --accent-400: #72395c;
  --accent-500: #8a456e;
  --accent-600: #ac678e;
  --accent-700: #ce89ae;
  --accent-800: #f0acce;
  --accent-900: #fdd1ec;
  --accent-950: #ffecfa;
}

@layer component {
  .error-message {
    @apply text-sm text-red-500 bg-red-100 p-2 rounded-md text-pretty block border-2 border-red-600 mt-2;
  }
}
